.banner {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-around;
}
.banner-img{
    width: 50%;
    min-height: $bannerHeight;
    background-image: url(@img/main-page_img.png);
    background-repeat: no-repeat;
    background-position: 50%;  
}
.banner-text-area{
    width: 50%;
    min-height: $bannerHeight;
    display: flex;
    align-items: center;
    
}
.banner-text {
    margin-left: 6%;
    padding-left: 1rem;
    border-left: $pink solid 12px;
}
.banner-text h2 {
    margin: 0;
    color: $black;
    @include textUpp(3rem, 3.375rem, 900);
    letter-spacing: 0.5px;
}
.banner-text p {
    margin: 0;
    color: $black;
    @include textUpp(2rem, 2.125rem, 700);
}
.banner-text p span {
    color: $pink;
}