.button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
} 
.button-browse {
    width: 13.25rem;
    height: 3rem;
    border: $pink solid 1px;
    color:#F26376;
    @include flexRow;
    margin-top: 47px;
    cursor: pointer;
    letter-spacing: 1.1px;
    @include btn_anim;
     &:hover {
        background-color: #F26376;
        color: #FFFFFF;
     }
       
}
button.button-add {
    @include text(1rem, 1.18rem, 400);
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1.75rem;
    padding-left: 0.7rem;
    fill: $darkPink;
    @include transition;
     &:hover {
        fill:#fff;
     }
}
.button-cat-hover {
    width: 8.68rem;
    height: 2.75rem;
    border: 1px solid #fff;
    @include flexRow;
    @include text();
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    @include btn_anim;
     svg {
         margin-right: 0.68rem;
     }
     
}

/* cart */
button.delete-button {
    font-size: 1.625rem;
    color: #575757;
    cursor: pointer;
    transition-duration: 0.5s;
     &:hover {
        color: $colorA4;
     }
}
.cart-button {
    min-width: 235px;
    height: 3.125rem;
    @include textUpp (0.875rem, 1.06rem, 300);
    color: #000;
    border: $borderGray;
    @include flexRow;
    cursor: pointer;
    @include transition;
     &:hover {
         background-color: $colorA4;
         color: #fff;
     }
}
.checkout-button {
    margin: 0;
    width: 17.06rem;
    height: 3.125rem;
    background-color: $darkPink;
    color: #fff;
    @include textUpp(1rem, 1.18rem, 300);
    @include flexRow;
    cursor: pointer;
    @include transition;
     &:hover {
        background-color: #FFFFFF;
        color: $darkPink;
     }
}
