.footer {
    background-color: $black;
    min-height: 5rem;
}
.copyright {
    float: left;
    padding: 0;
    color: $textWhite;
    @include text(1rem, 1.18rem, 400);
    margin-top: 30px;
    letter-spacing: 0.5px;
}
.social-item {
    background-color: #fff;
    display: inline-block;
    margin-left: 4px;
}
.social-link {
    min-width: 2rem;
    min-height: 2rem;
    color: $black2;
    @include flexRow;
    font-size: 1rem;
     &:hover {
        background-color: $pink;
        color: #fff;
     }

}
.socials {
    float: right;
    margin-top: 24px;
}