
.page-header {
    min-height: 148px;
    background-color: $bgPink;
}
.page-header-container {
    height: 100%;
    @include flexSpBetw;
}
.page-title {
    color: $pink;
    @include textUpp(1.5rem, 1.9rem, 400);
    margin-left: 10px;
}
.catalog-menu-item {
    color: #636363;
    @include text(0.875rem, 1.06rem, 300);
     &:hover {
         color: $pink;
     }
}
.menu-link-active {
    color: $pink;
    font-weight: 700;
}