
/* product card */
.product-card {
    width: $containerWidth;
    margin: -65px auto 0;
    border: 1px solid $borderColor;
    background-color: #fff;
    flex-direction: column;
    @include flexSpBetw;
    position: relative;
    z-index: 2;
}
.prod-top {
    max-width: 642px;
    border-bottom: 1px solid $borderColor;
    @include flexColCenter;
    padding: 5% 6%;

     h3 {  
         text-align: center;
        margin: 0;
        color: $pink;
        @include textUpp(0.875rem, 1.06rem, 300);
     }
}
.divider {
    width: 12%;
    height: 3px;
    background-color: $darkPink;
    margin: 12px 0;
}
.prod-heading {
    margin: 0;
    color: #4D4D4D;
    @include textUpp(1.125rem, 1.375rem, 300);
    text-align: center;
}
.prod-description {
    text-align: center;
    color: #5E5E5E;
    @include text(0.875rem, 1.06rem, 300);
    margin-top: 48px;
    margin-bottom: 34px;
}
.prod-price {
    margin: 0;
    color: $darkPink;
    @include text(1.5rem, 1.8rem, 300);
    margin-left: -23px;
}
.prod-filter {
    margin-left: -19px;
    margin-top: 64px;
}
.filter-button-prod {
    color: $filterGray;
    @include textUpp(0.875rem, 1.06rem, 400);
    cursor: pointer;
    padding: 0;
    margin-left: 23px;

     &:first-child{
        margin-left: 0;
    }
     i {
        margin-left: 8px;
        font-size: 0.75rem;
     }
}

