/* slider */

.slider-container {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    position: relative;
}
// .slider{
//     align-items: center;
// }

.arrow-button {
    width: 2em;
    height: 2em;
    color: #000;
    background-color: #D8D8D8;
    font-size: 1.5rem;
    cursor: pointer;
    @include transition;
    position: absolute;

     &:hover{
        color: $darkPink;
     }
     &-left {
        top:calc(50% - 0.75rem);
        left: 0;
    }
    &-right {
        top:calc(50% - 0.75rem);
        right: 0;
     }
}